---
name: Compile
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [synchronize, opened, reopened, ready_for_review]
    paths: |
      - uppaal.sty
      - *.tex
  workflow_dispatch:

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install LaTeX
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install latex-make texlive-latex-base texlive-latex-recommended texlive-fonts-extra
      - name: Compile
        run: make
      - name: Clean
        run: make clean
      - name: Upload PDFs
        uses: actions/upload-artifact@v4
        with:
          name: PDFs
          path: |
            manual.pdf
            lncs.pdf
            report.pdf
          compression-level: 0
          if-no-files-found: error
