---
name: Create Release
on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install LaTeX
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install latex-make texlive-latex-base texlive-latex-recommended texlive-fonts-extra texlive-publishers
      - name: Compile
        run: make manual.pdf
      - name: Clean
        run: make clean
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            uppaal.sty
            manual.pdf
            LICENSE
          draft: true
          prerelease: false
          preserve_order: true
          generate_release_notes: true
